* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
ul {
  padding-left: 0;
}
.btn-premium{
  background-color: #0085c8;
  border-color: #61d1ff;
  border-radius: 1px;
  color: #fff;
  border: none;
  padding: 8px 25px;
}
.btn-premium:hover, .btn-premium:focus{
  background-color: #61d1ff;
  color: #fff;
  outline: none;
}

/* .container{
  max-width: initial;
} */
#header {
  border-bottom: 1px solid #f2f2f2;
  /* margin-bottom: 20px; */
}
#banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  color: #fff;
}
.cover_body {
  padding-top: 350px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.12) 50%,
    rgba(0, 0, 0, 0.52) 90%,
    rgba(0, 0, 0, 0.76)
  );
}
@media (max-width: 767px) {
  .cover_body {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .cover_body {
    /* padding-top: 150px; */
    text-align: center;
  }
}
#logo_head {
  width: 200px;
  height: 159px;
  float: left;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
@media (max-width: 767px) {
  #logo_head {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 991px) {
  #logo_head {
    float: inherit;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }
}
#name_head {
  padding: 60px 0 20px 260px;
}
@media (max-width: 991px) {
  #name_head {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  #name_head h1 {
    font-size: 26px;
    font-weight: 700;
  }
}
@media (max-width: 991px) {
  #name_head h1 {
    margin-top: 0;
  }
}
#menu {
  border-top: 1px solid #f2f2f2;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; */
}
#menu li {
  display: inline-block;
  margin-right: 40px;
  font-size: 16px;
}
#menu li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  line-height: 40px;
  height: 80px;
  color: #000000;
}
#menu li a.active {
  color: #14a0e6;
  border-bottom: 2px solid #14a0e6;
}
#menu li a:hover {
  color: #14a0e6;
  border-bottom: 2px solid #14a0e6;
}
@media (max-width: 767px){
  #menu li {
    margin-right: 10px;
    font-size: 14px;
  }
}
@media (max-width: 991px){
  #menu li {
    margin-right: 10px;
  }
}

/* .nav_fix{
    position: fixed; top: 0; left: 0; width: 100%;  z-index: 10;
} */
/* #main{
    background-color: #fff;
} */
#main {
  padding-bottom: 40px;
  background-color: #fafafa;
}
.main_top {
  text-align: center;
  padding: 40px 20px 20px;
}
.main_top hr {
  width: 420px;
  max-width: 80%;
  border-top: 1px solid #aaa;
  margin: 20px auto;
}
.main_bottom .wrapper-item {
  padding: 15px;
}
.main_bottom .item {
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #fafafa;
  /* box-shadow: 0 1px 2px 1px rgb(206, 203, 203); */
  color: #777;
}
.main_bottom .item:hover {
  box-shadow: 0 1px 2px 1px rgb(206, 203, 203);
  /* border: 1px solid #b3b3b3; */
}
.main_bottom .item .title {
  text-transform: uppercase;
  padding-bottom: 15px;
}
#infor {
  /* background-color: #fff; */
  margin: 40px auto;
}
#infor .item-box {
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 0;
}
#infor .icon-box {
  font-size: 100px;
  color: #cacaca;
}
#infor .val-box {
  font-size: 30px;
  font-weight: 700;
  color: #0085c8;
}
#product_content {
  padding: 10px 70px;
}
.title_contact {
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: #0085c8;
  text-align: center;
}
.content_contact {
  background: #fff;
  padding: 20px 0;
}
#footer {
  border-top: 1px solid #aaa;
}
#footer_top a {
  color: #666;
}
.footer_top_left {
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: inset -30px 1px 30px -16px rgb(236, 232, 232);
}
.footer_top_right {
  padding: 40px 10px 40px 50px;
}
@media (min-width: 768px){
  #footer-top .footer_top_right {
    padding-left: 50px;
    float: right;
  }
}
@media (min-width: 768px){
  /* .col-sm-5 {
    width: 41.66666667%;
  } */
}
/* .col-sm-5 {
    width: 41.66666667%;
} */

#footer_body {
  font-size: 12px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.list_keyword {
  padding-left: 0;
  margin-left: -5px;
}
.list_keyword li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
#footer_bottom {
  padding: 15px 0;
}
/* ---------------- */
/* tuyendung.html */
.main_search {
  /* padding: 20px; */
  margin-bottom: 20px;
}
.input-group{
  margin-bottom: 15px;
}
.input-group-text{
  color: rgb(112, 112, 112); 
  background-color: #fff; 
  font-size: 11px; 
  line-height: 18px; 
  color: #444;
}
/* ---------------- */
/* gioithieu.html */
.border_wrapper {
  border-right: 1px solid #c8c8c8;
}
@media (max-width: 991px){
  #infor .border_wrapper {
    border-right: none;
  }
}
#images {
  padding-bottom: 40px;
}
#policy .policy_box {
  min-height: 400px;
  background: #fff;
  padding: 25px 20px;
  box-shadow: 0 1px 2px 2px #eee;
}
#policy .icon-box {
  background-color: #0585c5;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 85px;
  margin: 20px auto;
}
#policy .title-box {
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}
#policy .val-box {
  text-align: left;
  margin: 10px 0;
}

/* ---------------- */
/* đánh giá.html */
.box {
  padding: 20px;
  margin-bottom: 20px;
}
.box_white {
  background-color: rgb(255, 255, 255);
}
.review_title {
  font-size: 20px;
  margin-bottom: 25px;
}
blockquote {
  font-size: inherit;
  font-style: italic;
  color: #666;
  border-left: 2px solid #00b14f;
  padding: 10px 20px;
  margin: 0 0 20px;
}
/* ---------------- */
/* responsive */
@media screen and (max-width: 600px) {
}
/* Dành cho điện thoại */
@media all and (min-width: 320px) {
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
}

/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
}

/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
}
